body{
    background-color: #232323;
    color: white;
}

#login-container{
    margin: 2em;
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}


#login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #333;
    padding: 1em;
    border-radius: 20px;
    height: auto;
    width: 35%;
}

#login-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    word-break: break-word;
    text-align: center;
}
#login-header{
    font-size: 2.8em;
}

#form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#username-input, #password-input{
    width: 50%;
    padding: 0.5em;
    margin: 0.5em 0;
    border-radius: 10px;
    border: none;
    font-size: 1.2em;
}


#button-div{
    min-width: 100%;
    display: flex;
    justify-content: center;
    margin: 1em 0;
}

#login-button{
    background-color: #4CAF50;
    color: white;
    padding: 0.7em 1.5em;
    border: none;
    border-radius: 10px;
    font-size: 1.2em;
    cursor: pointer;
}